<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.BookmarkDao">
  <resultMap type="bookmark" id="bookmarkMap">
  
    <id column="TMNO" property="travelMainNo"/> 
    <result column="MNO" property="memberNo"/>
    <result column="MPHO" property="memberPhoto"/>
    <result column="MNM" property="memberName"/>
    <result column="COUNT(TMNO)" property="bookmarkCount"/>
  </resultMap>
  

  
  
<select id="viewMyBookmarkList" resultMap="bookmarkMap" parameterType="map">
SELECT MNM, MPHO, TVL_BMK.TMNO, TVL_BMK.MNO FROM TVL_BMK
INNER JOIN TVL_TVLMAIN
ON TVL_TVLMAIN.TMNO = TVL_BMK.TMNO
INNER JOIN TVL_MEMBS 
ON TVL_MEMBS.MNO=TVL_TVLMAIN.MNO
WHERE TVL_BMK.MNO = #{bookmarkMemberNo}
</select>

<select id="bookmarkCount" resultMap="bookmarkMap" parameterType="map">
SELECT COUNT(TMNO) FROM TVL_BMK
WHERE TMNO = #{bookmarkCount}
</select>

<select id="bookmarkCount2" resultType="int" parameterType="int">
SELECT COUNT(*) FROM TVL_BMK
WHERE MNO = #{value}
</select>
  
<insert id="insert" parameterType="bookmark" >
  INSERT INTO TVL_BMK(TMNO, MNO)
  VALUES( #{travelMainNo}, #{memberNo})
</insert>

<delete id="delete" parameterType="int">
  DELETE FROM TVL_BMK
  WHERE TMNO=#{travelMainNo} and mno=#{memberNo}
</delete>
  

</mapper>