<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.CmtDao">
  <resultMap type="qna" id="cmtMap">
  
    <id column="QCNO" property="qcno"/> 
    <result column="MNO" property="comMemberNo"/>
    <result column="QBNO" property="qno"/>
     <result column="CONT" property="commentContents"/>
    <result column="CRE_DT" property="cmtCreateDate"/>
    <result column="MNM" property="memberName"/>
    <result column="MPHO" property="memberPhoto"/>
  </resultMap>
  

  
  
 
    <select id="selectList" resultMap="cmtMap" parameterType="map">
 SELECT TVL_QNA_COMT.QCNO,MNM,TVL_QNA_COMT.MNO,TVL_QNA_COMT.CONT,TVL_QNA_COMT.CRE_DT,MPHO FROM TVL_QNA_BODS 
 INNER JOIN TVL_QNA_COMT
 ON TVL_QNA_BODS.QBNO = TVL_QNA_COMT.QBNO
 INNER JOIN TVL_MEMBS
 ON TVL_QNA_COMT.MNO = TVL_MEMBS.MNO
 WHERE TVL_QNA_BODS.QBNO = #{qnabodsno}

    <where>
      <if test="writer != null">AND WRITER LIKE CONCAT('%', #{writer}, '%')</if>
    </where>
    ORDER BY 
    <choose>
      <when test="writerOrder == 'asc'">WRITER ASC</when>
      <when test="writerOrder == 'desc'">WRITER DESC</when>
      <when test="qcnoOrder == 'asc'">QCNO ASC</when>
      <otherwise>QCNO DESC</otherwise>
    </choose>
    LIMIT #{startIndex}, #{length}
  </select>
  

  
  <insert id="insert" parameterType="qna">
    INSERT INTO TVL_QNA_COMT(MNO,QBNO, CONT, CRE_DT)
    VALUES( #{comMemberNo}, #{qno}, #{commentContents}, NOW())
  </insert>
  
<!--   
  
   <update id="update" parameterType="qna">
    update tvl_qna_comt set 
      cont=#{content} 
    where qcno=#{qcno}
  </update>
  
  
   -->
  <delete id="delete" parameterType="int">
    DELETE FROM TVL_QNA_COMT 
    WHERE QCNO=#{value}
  </delete>
  
  
  
  

</mapper>