<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.InviteDao">
  <resultMap type="invite" id="inviteMap">
    <id column="ivno" property="inviteNo"/>
 		<result column="mno" property="memberNo"/>
 		<result column="mno2" property="memberNo2"/>
	    <result column="invnm" property="inviteName"/>
	    <result column="invemail" property="inviteEmail"/>
	    <result column="invgend" property="inviteGender"/>
	    <result column="stat" property="state"/>
	    <result column="invpho" property="invitePhoto"/>
	    <result column="ivbno" property="inviteBoardNo"/>  
     	
  </resultMap>
  
  <insert id="insert" parameterType="invite" >
    INSERT INTO TVL_INVIT(MNO,MNO2,INVNM,INVEMAIL,INVGEND,STAT,INVPHO,IVBNO) 
    	VALUES(#{MEMBERNO},#{MEMBERNO2},#{INVITENAME},#{INVITEEMAIL},#{INVITEGENDER},0,#{INVITEPHOTO},#{INVITEBOARDNO})
  </insert>
  
  <insert id="inviteAgreeInsert" parameterType="invite" >
    INSERT INTO TVL_INVIT(MNO,MNO2,INVNM,INVEMAIL,INVGEND,STAT,INVPHO,IVBNO) 
    	VALUES(#{MEMBERNO},#{MEMBERNO2},#{INVITENAME},#{INVITEEMAIL},#{INVITEGENDER},1,#{INVITEPHOTO},#{INVITEBOARDNO})
  </insert>
  
  <select id="inviteCheck" resultType="int" parameterType="int">
    SELECT COUNT(*) FROM TVL_INVIT 
    WHERE MNO=#{MEMBERNO} AND MNO2=#{MEMBERNO2}
  </select>
  
   <select id="inviteCount" resultType="int" parameterType="int">
    SELECT  COUNT(*) FROM TVL_INVIT 
    WHERE MNO2=#{VALUE} AND STAT=0
  </select>
  
  <select id="inviteList" resultMap="inviteMap" parameterType="int">
    SELECT  * FROM TVL_INVIT 
    	WHERE MNO2=#{VALUE} AND STAT=0    
  </select>
  
  
  <update id="inviteAgree" parameterType="int">
    UPDATE TVL_INVIT SET 
      STAT=1
    WHERE IVNO=#{INVITENO}
  </update>
  
  <update id="inviteRefuse" parameterType="int">
    UPDATE TVL_INVIT SET 
      STAT=3
    WHERE IVNO=#{INVITENO}
  </update>
  
  <select id="inviteAgreeList" resultMap="inviteMap" parameterType="int">
    SELECT  * FROM TVL_INVIT 
    	WHERE MNO2=#{VALUE} AND STAT=1    
  </select>
</mapper>

