<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.MessageDao">
  <resultMap type="Message" id="messageMap">
    <id column="MSGNO" property="messageNo"/>
    <result column="MNO2" property="sendMemberNo"/>
    <result column="MNO" property="receiveMemberNo"/>
    <result column="MNM" property="receiveUser"/>
    <result column="CONT" property="contents"/>
    <result column="SD_DT" property="sendDate"/>
    <result column="STAT" property="state"/>
    <result column="MPHO" property="myPhoto"/>
    <result column="TMNO" property="travelMainNo"/>
    <result column="SCHNO" property="schduleNo"/>
  </resultMap>
  
<insert id="insert" parameterType="Message">
INSERT INTO TVL_MSG(MNO2, MNO, CONT, SD_DT) 
VALUES(#{sendMemberNo}, #{receiveMemberNo}, #{contents}, NOW())
</insert>
  
<select id="selectMyMemberList" resultMap="messageMap" parameterType="map">
SELECT TVL_MSG.MNO, MNM, MSGNO, MNO2, CONT, SD_DT, MPHO 
FROM TVL_MSG
INNER JOIN TVL_MEMBS ON TVL_MSG.MNO2 = TVL_MEMBS.MNO 
WHERE MSGNO IN (
SELECT MAX(MSGNO)
FROM TVL_MSG
INNER JOIN TVL_MEMBS ON TVL_MSG.MNO2 = TVL_MEMBS.MNO 
WHERE TVL_MSG.MNO = #{receiveNo}
GROUP BY MNO2
)
ORDER BY MSGNO DESC
LIMIT #{length}
<!-- order by msgno desc;
select tvl_msg.mno, mnm, msgno, mno2, cont, sd_dt, mpho from tvl_msg
inner join tvl_membs on tvl_msg.mno2 = tvl_membs.mno 
where tvl_msg.mno = #{receiveNo}
order by msgno desc -->
</select>

<select id="selectMyMessageList" resultMap="messageMap" parameterType="map">
SELECT TVL_MSG.MNO, MNM, MSGNO, MNO2, CONT, SD_DT, MPHO FROM TVL_MSG
INNER JOIN TVL_MEMBS ON TVL_MSG.MNO2 = TVL_MEMBS.MNO 
WHERE (MNO2=#{sendNo} AND TVL_MSG.MNO=#{receiveNo}) OR (MNO2=#{receiveNo} AND TVL_MSG.MNO=#{sendNo})
ORDER BY MSGNO DESC
LIMIT #{length}
</select>

<select id="selectUserProfile" resultMap="messageMap" parameterType="map">
SELECT TVL_MSG.MSGNO,TVL_SCH.SCHNO, TVL_MEMBS.MNM, TVL_MSG.CONT, TVL_MEMBS.MPHO, TVL_TVLMAIN.TMNO FROM TVL_MEMBS
INNER JOIN TVL_TVLMAIN ON TVL_TVLMAIN.MNO = TVL_MEMBS.MNO
INNER JOIN TVL_MSG ON MNO2 = TVL_MEMBS.MNO
INNER JOIN TVL_SCH ON TVL_TVLMAIN.TMNO = TVL_SCH.TMNO
WHERE MSGNO IN (
SELECT MAX(MSGNO)
FROM TVL_MSG
INNER JOIN TVL_MEMBS ON TVL_MSG.MNO2 = TVL_MEMBS.MNO
WHERE TVL_MSG.MNO2 = #{profileNo}
)
ORDER BY TMNO DESC
</select>

<select id="selectNoPageUserProfile" resultMap="messageMap" parameterType="map">
SELECT TVL_MEMBS.MNM, TVL_MSG.CONT, TVL_MEMBS.MPHO FROM TVL_MEMBS
INNER JOIN TVL_MSG ON MNO2 = TVL_MEMBS.MNO
WHERE MSGNO IN (
SELECT MAX(MSGNO)
FROM TVL_MSG
INNER JOIN TVL_MEMBS ON TVL_MSG.MNO2 = TVL_MEMBS.MNO
WHERE TVL_MSG.MNO2 = #{profileNo}
)
ORDER BY MSGNO DESC
</select>
</mapper>
