<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="travel.dao.RegistFormDao">
  <resultMap type="RegistForm" id="registFormMap">
    <id column="SCHNO" property="no"/> 
    <result column="MNM" property="writer"/>
    <result column="STYNM" property="styleName"/>
    <result column="CONT" property="continent"/>
    <result column="NATN" property="nation"/>
    <result column="CITY" property="city"/>
    <result column="SF_INF" property="selfIntroduce"/>
    <result column="ST_DT" property="startDate"/>
    <result column="ED_DT" property="endDate"/>
  </resultMap>
  
  <select id="selectList" resultMap="registFormMap" parameterType="map">
    select * from tvl_tvlmain
inner join tvl_membs
on tvl_membs.mno = tvl_tvlmain.mno
inner join tvl_sch
on tvl_sch.tmno = tvl_tvlmain.tmno
inner join tvl_sty
on tvl_sty.styno = tvl_tvlmain.tmno
inner join tvl_loc
on tvl_loc.locno = tvl_tvlmain.tmno;
</select>

<select id="selectOne" resultMap="registFormMap" parameterType="int">
  select * from tvl_tvlmain
inner join tvl_membs
on tvl_membs.mno = tvl_tvlmain.mno
inner join tvl_sch
on tvl_sch.tmno = tvl_tvlmain.tmno
inner join tvl_sty
on tvl_sty.styno = tvl_tvlmain.tmno
inner join tvl_loc
on tvl_loc.locno = tvl_tvlmain.tmno
where schno = #{value}
</select>
  
  
</mapper>




















