<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.ReviewContentDao">
  <resultMap type="reviewContent" id="reviewContentMap">
    <id column="rbcno" property="reviewBoardContentNo"/> 
    <result column="rbno" property="reviewBoardNo"/>
    <result column="schno" property="scheduleNo"/> 
    <result column="cont" property="content"/>
    <result column="rbcpnm" property="reviewBoardContentPhotoName"/>
    <result column="st_dt" property="startDate"/>
    <result column="ed_dt" property="endDate"/>
    <result column="continent" property="continent"/>
    <result column="natn" property="nation"/>
    <result column="city" property="city"/>
  </resultMap>
  
  
  <select id="selectOne" resultMap="reviewContentMap" parameterType="int">
    SELECT C.RBCNO,C.RBNO,C.SCHNO,C.CONT,C.RBCPNM,S.ST_DT,S.ED_DT,L.CONT CONTINENT,L.NATN,L.CITY FROM TVL_REVIEW_CONTS C 
    INNER JOIN TVL_SCH S ON S.SCHNO=C.SCHNO
	INNER JOIN TVL_LOC L ON S.LOCNO = L.LOCNO
    WHERE C.RBNO=#{value}
  </select>
  
   <select id="reviewPhotoList" resultMap="reviewContentMap" parameterType="int">
    SELECT RBCNO, RBCPNM FROM TVL_REVIEW_CONTS
    WHERE RBNO=#{value}
  </select>
  
  <update id="reviewContentUpdate" parameterType="reviewContent">
    UPDATE TVL_REVIEW_CONTS SET 
      CONT=#{content},
      RBCPNM=#{reviewBoardContentPhotoName}
    WHERE RBCNO=#{reviewBoardContentNo}
  </update> 
  <update id="reviewContentUpdate2"  parameterType="reviewContent">
    UPDATE TVL_REVIEW_CONTS SET 
      CONT=#{content}
    WHERE RBCNO=#{reviewBoardContentNo}
  </update> 
  
  <insert id="insert" parameterType="reviewContent" useGeneratedKeys="true" keyProperty="reviewBoardContentNo" keyColumn="rbcno">
    INSERT INTO TVL_REVIEW_CONTS(RBNO,SCHNO,CONT,RBCPNM)
    VALUES(#{reviewBoardNo},#{scheduleNo},#{content}, #{reviewBoardContentPhotoName})
  </insert>
  <delete id="delete"  parameterType="int">
    DELETE FROM TVL_REVIEW_CONTS 
    WHERE RBCNO=#{value}
  </delete>
</mapper>




















