<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.TravelLocationDao">
  
<insert id="insert" parameterType="travelMain" useGeneratedKeys="true" keyColumn="locno" keyProperty="locationNo">
INSERT INTO TVL_LOC(CONT,NATN,CITY,LAT,LNG)
VALUES(#{continent},#{nation}, #{city}, #{lat}, #{lng});
</insert>

 <update id="update" parameterType="travelMain" useGeneratedKeys="true" keyProperty="locationNo" keyColumn="locno">
  UPDATE TVL_LOC SET 
    CONT=#{continent}, 
    NATN=#{nation},
    CITY=#{city},
    LAT=#{lat},
    LNG=#{lng}
  WHERE LOCNO=#{locationNo}
</update>

 <delete id="delete" parameterType="int">
  DELETE FROM TVL_LOC 
  WHERE LOCNO=#{locationNo}
 </delete>
</mapper>




















