<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.TravelLocationDao">
  
<insert id="insert" parameterType="travelMain" useGeneratedKeys="true" keyColumn="locno" keyProperty="locationNo">
insert into tvl_loc(cont,natn,city)
values(#{continent},#{nation}, #{city});
</insert>

 <update id="update" parameterType="travelMain" useGeneratedKeys="true" keyProperty="locationNo" keyColumn="locno">
  update tvl_loc set 
    cont=#{continent}, 
    natn=#{nation},
    city=#{city}
  where locno=#{locationNo}
</update>

 <delete id="delete" parameterType="int">
  delete from tvl_loc 
  where locno=#{locationNo}
 </delete>
</mapper>




















