<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.CalendarDao">
<resultMap type="Calendar" id="calendarMap">
  <id column="TMNO" property="travelMainNo" />
    <result column="ST_DT" property="start" />
    <result column="ED_DT" property="end" />
    <result column="CITY" property="title" />
    </resultMap>

  <select id="selectMyCalendar" resultMap="calendarMap" parameterType="map">
    SELECT ST_DT, ED_DT, CITY FROM TVL_SCH
    INNER JOIN TVL_LOC
    ON TVL_SCH.LOCNO = TVL_LOC.LOCNO
    WHERE TMNO = #{travelPostNo}
  </select>
  

</mapper>




















