<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.TravelMainFileDao">
  <resultMap type="travelMainFile" id="travelMainFileMap">
    <id column="ipno" property="travelMainPNo"/> 
    <result column="tmno" property="travelMainNo"/>
    <result column="ipnm" property="fileName"/>
  </resultMap>
  
  <insert id="insert" parameterType="travelMainFile">
    INSERT INTO TVL_INTRO_PHO(TMNO, IPNM)
    VALUES(#{travelMainNo}, #{fileName})
  </insert>
  
  
  <update id="update" parameterType="travelMainFile">
  UPDATE TVL_INTRO_PHO SET IPNM=#{fileName}
  WHERE TMNO = #{travelMainNo}
</update>
  
  <select id="selectList" resultMap="travelMainFileMap" parameterType="map">
  SELECT IPNO, IPNM
  
  FROM TVL_INTRO_PHO
  WHERE TMNO = #{travelPostNo}
  </select>
  
  <delete id="delete" parameterType="int">
    DELETE FROM TVL_INTRO_PHO
    WHERE TMNO=#{value}
  </delete>
  
</mapper>
















