<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.dao.TravelMainFileDao">
  <resultMap type="travelMainFile" id="travelMainFileMap">
    <id column="ipno" property="travelMainPNo"/> 
    <result column="tmno" property="travelMainNo"/>
    <result column="ipnm" property="fileName"/>
  </resultMap>
  
  <insert id="insert" parameterType="travelMainFile">
    insert into tvl_intro_pho(tmno, ipnm)
    values(#{travelMainNo}, #{fileName})
  </insert>
  
  <select id="selectList" resultMap="travelMainFileMap" parameterType="map">
  select ipno, ipnm
  
  from tvl_intro_pho
  where tmno = #{travelPostNo}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from tvl_intro_pho
    where tmno=#{value}
  </delete>
  
</mapper>
















