body {
 font-family:Arial,Helvettica,sans-serif;
  background-color: black;
 	margin-left: 8%;
	margin-right:8%;
} 

header {
 width:90%;
 
 background-color:  gray;
 color:white; 
 margin-right:auto;
 margin-left:auto;
 padding:10px;	
 overflow:hidden;
 
}
 
 #login {
 position:relative;
 float:right;
 top: -140px;
 right: 20px;
 
 

 }
 
nav li:hover {
	background-color:yellow;
	border:2px;
	width:60px;
}

 


h1 {
 font-size:2em;
 margin:0;
 padding:0;
 padding-top:10px;

}


h2 {
 font-size:1.6;

}


h3 {
 font-size:1.3;

}

hgroup {
 width:60%;
 float:left;
}

hgroup h1 {
 padding-top:0;
 line-height:1em;
}

hdroup h2 [
text-transform:uppercase;
fint-size:1.2em;
font-height:1em;
}

nav ul {
 list-style-type:none;
}
 nav li {
  float:left;
  margin:right:4px;
}

 
nav {
 width:30%;
 float:right;
}
 

p {
 margin:10px;
}

 img {
  float:right;
 margin:0px 0px 10px 10px;
box-shdow: 3px 3px 5px 1px #cccccc;
}

section {
 width:80%;
 backgrounfd-color:white;
 color:white;
 margin-right:auto;
 margin-left:auto;
 border-cplor:black;
 border-style:solid;
 border-width:5px;
 padding:5px;
}

aside {
  width:80%;
  margin-right:auto
  margin-left:auto;
  fong-size:.8em;
  background:#eeff99;
 padding:20px;
 border:1px solid #696;
 
}

footer{
 width:80%;
 backgrounfd-color:black;
 color:white;
margin-right:auto;
margin-left:auto;
height:50px;
 padding:10px;
}


<link rel="stylesheet" type="text/css" href="styles.css" media = "screen"?






























