/* 메뉴 스타일 */

.zeta-menu-bar {
  /* display: inline-block; */
}

.zeta-menu li {
  float: right;
  list-style: none;
}


/* 
.zeta-menu li:hover {
  background: pink;
}
*/


.zeta-menu li .expand {
	position: right;
  background: white;
}

/* 
.zeta-menu li .expand > a {
  color: hotpink;
}
 */
 
.zeta-menu a {
  color: grey;
  display: block;
  padding: 10px 20px;

}

.zeta-menu ul {
  z-index: 500000;
  background: #eee;
  border: 1px solid silver;
  display: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 100%;
  width: 120px;
}


.zeta-menu ul li {
z-index: 500000;
  float: none;
}

.zeta-menu ul li.expand {
z-index: 500000;
  background: #ddd;
}

.zeta-menu ul li.expand a {
z-index: 500000;
  color: black;
}

.zeta-menu ul a {
z-index: 500000;
  color: black;
}

.zeta-menu ul ul {
z-index: 500000;
margin: 0 auto;
  right: 100%;
  top: 0;
}

/* 본문 */

.cbp-af-header {
	position: fixed;
	top: 65px;
	left: 0;
	width: 100%;
	height: 80px;
	background: #f6f6f6;
	z-index: 10000;
	overflow: hidden;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.upper {
	position: fixed;
	top: 0;
  left: 0;
  height: 65px;
	background: #f6f6f6;
	z-index: 20000;
  width: 100%;
}

.upper span a {
	
  color: #aaa;
  float: right;
  margin: 0 auto;
  padding: 10px 13px 0px 0px; 
}




.cbp-af-header .cbp-af-inner {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 50px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 3.5em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.2em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 60px;
}

.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 80px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2.5em;
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
